extends layout

block content
  div.jumbotron.my-1
    h1.display-4 瞬間英作文
    p.lead GitHubアカウントでログインすると、問題文の閲覧やプレイ結果を記録することができます。
    p (ログインしなくても瞬間英作文を行うことはできます)
  div
    a(href="/select").index-anchor.btn.btn-danger.form-control.mb-1 問題選択コース
  div
    a(href="/random").index-anchor.btn.btn-success.form-control.mb-1 ランダム出題コース
  div
    a(href="/sentences").index-anchor.btn.btn-primary.form-control.mb-1 問題文一覧
  div
    a(href="/records").index-anchor.btn.btn-warning.form-control.mb-1 記録一覧
