extends layout

block content
  div.jumbotron.my-3
    h1.display-4 瞬間英作文
    p.lead ログインしなくてもプレイできますが、ログインすると問題文の閲覧や結果の記録をすることができます。
  div
    a(href="/select").btn.btn-danger.form-control.my-2 問題選択コース
  div
    a(href="/random").btn.btn-success.form-control.my-2 ランダム出題コース
  div
    a(href="/sentences").btn.btn-primary.form-control.my-2 問題文一覧
  div
    a(href="/records").btn.btn-warning.form-control.my-2 記録一覧
