body {
  padding: 50px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*font-size: 62.5%;*/
}

a {
  color: #00B7FF;
}

label {
  font-size: 1.4em;
}

li {
  list-style: none;
}

#tabs {
  overflow: hidden;
}

#tabs li {
  color: #eeeeee;
  background-color: #55ee88;
  font-size: 20px;
  text-align: center;
  width: 29%;
  margin: 0;
  padding: 10px;
  float: left;
  border-radius: 3px;
  transition: 0.5s;
}

#tabs li.select {
  background-color: #338855;
}

#tabs li:hover {
  opacity: 0.9;
  cursor: pointer;
}

.random-course {
  color: #eeeeee;
  background-color: #338855;
  font-size: 20px;
  text-align: center;
  width: 35%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.content-wrap {
  background-color: #eeeeee;
  margin: 0 auto;
}

.disp-none {
  display: none;
}

.random-label {
  font-size: 1.6em;
  text-align: center;
  margin-top: 20px;
}

.button {
  color: #ffffff;
  background-color: #55aadd;
  text-align: center;
  border: 1px solid #55aadd;
  border-radius: 3px;
  transition: 0.3s;
}

.button:hover {
  background-color: #3388cc;
  cursor: pointer;
}

.open-select {
  width: 22%;
  font-size: 18px;
  margin: 5px;
  padding: 6px 0;
}

.open-random {
  font-size: 20px;
}

#overlay {
  /*viewpointを相対位置にして全画面表示*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

#modal-contents {
  width: 95%;
  height: 600px;
  border: 2px solid #55dd88;
  background-color: #ffffff;
  display: none;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#close {
  font-size: 30px;
  color: #000000;
  background-color: #ffffff;
  padding: 5px 12px;
  border: 1px solid #ffffff;
  float: right;
}

.hidden {
  display: none;
}

#question-zone {
  height: 125px;
  margin-top: 50px;
}

#question-display {
  width: 90%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

.non-started {
  background-color: #cccccc;
  padding: 30px;
  border-radius: 3px;
}

#answer-text {
  width: 90%;
  font-size: 32px;
  padding: 10px;
  border: 1px solid #666666;
  border-radius: 3px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#answer-button {
  width: 90%;
  font-size: 20px;
  padding: 8px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#judge-display {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

.correct {
  font-size: 45px;
  color: #008800;
}

.incorrect {
  font-size: 30px;
  color: #000000;
}

.cheat {
  font-size: 45px;
  color: #000000;
}

#cheat-button {
  width: 20%;
  font-size: 20px;
  padding: 8px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#cheat-display {
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#result-display {
  width: 90%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#record-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#retry-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#incorrect-retry-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#incorrect-check-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#stage-select-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#index-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}

#incorrect-display {
  width: 90%;
  height: 450px;
  padding: 30px 0 0 50px;
  text-align: left;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
  overflow: scroll;
}

.result-btn {
  width: 50%;
  font-size: 24px;
  padding: 10px;
}

#done {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  -webkit- transform: translateX(-50%);
}
